**/node_modules/
**/build/
**/dist/
**/.gradle/
**/cdk.out/
/server/cdk.out/
/.yarn/install-state.gz
/.yarn/cache
/server/.aws-sam/
/server/model/bin/

.secrets.ts
.keypair.json
.smithy.lsp.log

.api_keys.json
/.vscode