.headerDiv {
  width: "100%";
  padding: 0.5rem 5rem;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: end;
  border: 1px var(--border-color) solid;
}

.body {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
