/*
 * You probably want to just delete this file; it's just for the demo pages.
 */
.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  /* width: 100%; */
  overflow-x: hidden;
}

.remix-app__header {
  overflow: visible;
  transition: all 0.3s ease-in-out; /* Smooth transition for all properties */

}

.loading-indicator {
  position: fixed;
  height: 2px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow: visible;
}

.loading-indicator::before {
  overflow-x: hidden;
  content: "";
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 5%;
  height: 2px;
  background: linear-gradient(to right, #333333, #808080, #cccccc, #e6e6e6);
  box-shadow: 
    10px 3px 8px rgba(234, 68, 53, 0.747),
    0px 2px 4px rgba(251, 214, 5, 0.5),
    -10px 1px 2px rgba(66, 134, 244, 0.945),
    0 0px 0 transparent;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

.remix-app__header-nav li {
  font-weight: bold;
}
.remix-app__loader{
  transition: opacity 0.3s ease-in-out;
}
.remix-app__main {
  flex: 1 1 100%;
  width: 100%;
  /* flex-basis: 100%;; */
}
.remix-app__main-content {
  padding: 0;
}

.remix-app__footer {
  /* until i put something in there */
  /* padding-top: 1rem;
  padding-bottom: 1rem; */
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  
  .remix__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-columns: 100%; */
  }
  .remix-app__main-content {
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .remix__page {
    --gap: 4rem;
  }
}

.remix__page > main > :first-child {
  margin-top: 0;
}

.remix__page > main > :last-child {
  margin-bottom: 0;
}

.remix__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  border: solid 1px var(--color-border);
  border-radius: var(--border-radius);
}

.remix__page > aside > :first-child {
  margin-top: 0;
}

.remix__page > aside > :last-child {
  margin-bottom: 0;
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}
