/*
 * You probably want to just delete this file; it's just for the demo pages.
 */
.remix-app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: calc(100vh - env(safe-area-inset-bottom));
}

.remix-app > * {
  /* width: 100%; */
}

.remix-app__header {
  overflow: visible;
  transition: all 0.3s ease-in-out; /* Smooth transition for all properties */
  
}

.loading-indicator {
  overflow-x: hidden;
}

.loading-indicator::after {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* used to be 100% */
  width: 5%;
  height: 2px;
  background: linear-gradient(to right, #333333, #808080, #cccccc, #e6e6e6);
  /* z-index: 100; */
  /* old rainbow gradient */
  /* background: linear-gradient(to right, #4285f4, #fbd605, #ea4335); */

  box-shadow: 
    /* Left shadow (solid) */
    10px 3px 8px rgba(234, 68, 53, 0.747),
    /* Fading shadow from left to right */ 0px 2px 4px rgba(251, 214, 5, 0.5),
    -10px 1px 2px rgba(66, 134, 244, 0.945),
    /* -4px 5px 4px rgba(0, 0, 0, 0.2),
    -2px 5px 2px rgba(0, 0, 0, 0.1), */ /* Right shadow (transparent) */ 0 0px 0 transparent;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    /* used to be 100% */
    transform: translateX(100vw);
  }
}
.remix-app__header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.remix-app__header-home-link {
  width: 106px;
  height: 30px;
  color: var(--color-foreground);
}

/* .remix-app__header-nav ul {
  list-style: none;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1.5em;
} */

.remix-app__header-nav li {
  font-weight: bold;
}

.remix-app__main {
  flex: 1 1 100%;
  width: 100%;
  /* flex-basis: 100%;; */
}
.remix-app__main-content {
  padding: 0;
}

.remix-app__footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.remix-app__footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remix__page {
  --gap: 1rem;
  --space: 2rem;
  display: grid;
  grid-auto-rows: min-content;
  gap: var(--gap);
  padding-top: var(--space);
  padding-bottom: var(--space);
}

@media print, screen and (min-width: 640px) {
  
  .remix__page {
    --gap: 2rem;
    grid-auto-rows: unset;
    grid-template-columns: repeat(2, 1fr);
    /* grid-auto-columns: 100%; */
  }
  .remix-app__main-content {
    padding: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .remix__page {
    --gap: 4rem;
  }
}

.remix__page > main > :first-child {
  margin-top: 0;
}

.remix__page > main > :last-child {
  margin-bottom: 0;
}

.remix__page > aside {
  margin: 0;
  padding: 1.5ch 2ch;
  border: solid 1px var(--color-border);
  border-radius: var(--border-radius);
}

.remix__page > aside > :first-child {
  margin-top: 0;
}

.remix__page > aside > :last-child {
  margin-bottom: 0;
}

.remix__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--color-border);
  border-radius: 0.5rem;
}

.remix__form > * {
  margin-top: 0;
  margin-bottom: 0;
}
